<form class="ui form" [formGroup]="form" (ngSubmit)="onSaveComment()">
    <div class="field">
        <label>Comment</label>
        <textarea rows="2" formControlName="comment"></textarea>
    </div>
    <button type="submit" class="ui submit primary button" [disabled]="!form.valid">Submit</button>
</form>
