<h1>{{getPageHeader()}}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="ui fluid action input">
    <input
      type="text"
      data-lpignore="true"
      placeholder="Add task, press enter to save"
      formControlName="title">

    <div
      suiDropdown
      autoClose="outsideClick"
      class="ui floating dropdown basic icon button"
      title="Priority">
      <i class="exclamation icon"></i>

      <div suiDropdownMenu class="menu">
        <div
          class="item"
          *ngFor="let priority of priorities"
          [ngClass]="{'active': isPrioritySelected(priority.value)}"
          (click)="onSelectPriority(priority.value)">
          <i [ngClass]="getPriorityIcon(priority.value)"></i>
          {{priority.label}}
        </div>
      </div>
    </div>

    <button
      type="button"
      class="ui basic icon button"
      title="Due date"
      suiDatepicker
      pickerMode="date"
      pickerFirstDayOfWeek="0"
      pickerPlacement="bottom"
      formControlName="dueAt">
      <i class="calendar icon"></i>
    </button>

    <div
      suiDropdown
      autoClose="outsideClick"
      class="ui floating dropdown basic icon button"
      title="Collection">
      <i class="list icon"></i>

      <div suiDropdownMenu class="menu">
        <ng-container *ngIf="taskCollections">
          <div
            class="item"
            *ngFor="let collectionUid of objectKeys(_taskCollections)"
            [ngClass]="{'active': isCollectionSelected(collectionUid)}"
            (click)="onSelectCollection(collectionUid)">
            <i class="list icon" [ngClass]="_taskCollections[collectionUid].color"></i>
            {{_taskCollections[collectionUid].name}}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</form>
