<sm-loader [complete]="!nowLoading" text="Loading..."></sm-loader>

<div class="ui container">
  <div class="vertically-centered-box">
    <div class="ui one column centered grid">
      <div class="column">
        <h3 class="ui top attached header">Login</h3>

        <div class="ui attached segment">
          <form class="ui form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
              <sm-input label="E-mail" [control]="form.controls.email"></sm-input>
            </div>

            <div class="field">
              <sm-input
                type="password"
                label="Password"
                [control]="form.controls.password">
              </sm-input>
            </div>

            <button
              type="submit"
              class="ui button primary"
              [disabled]="!form.valid">
              Login
            </button>

            <a class="register-link" (click)="onNavigateToRegister()">
              Register new account
              <i class="icon sign-out"></i>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
