<div class="ui stackable grid">
  <div class="nine wide column">
    <app-task-form
      [service]="taskListService"
      [taskCollections]="taskCollections$ | async">
    </app-task-form>

    <app-task-list
      [service]="taskListService"
      [tasks]="tasks$ | async"
      [taskCollections]="taskCollections$ | async">
    </app-task-list>
  </div>

  <div class="seven wide column">
    <router-outlet></router-outlet>
  </div>
</div>
