<div style="padding-top: 40px">
  <div class="ui raised very padded text container segment fallback-text-center">
    <h2 class="ui header">A página que você tentou acessar não existe...</h2>
    <p><img class="ui centered large bordered image" src="assets/not-found.jpg"></p>
    <p><a class="header" routerLink="/">Clique aqui</a> para voltar para a página principal.</p>
  </div>
</div>


