<div *ngIf="tasks.length > 0">
  <br>

  <h4 style="cursor: pointer" class="ui horizontal divider header" (click)="onClickToggle()">
    <i class="icon" [ngClass]="icon"></i>
    {{header}}
  </h4>

  <div [suiCollapse]="isCollapsed">
    <div class="ui vertical segment" *ngFor="let task of tasks">
      <div class="ui grid">
        <div class="two wide column">
          <div class="ui checkbox">
            <input
              type="checkbox"
              data-lpignore="true"
              [checked]="task.closed"
              [disabled]="disabled"
              (change)="onCloseTask(task)">
            <label></label>
          </div>
        </div>

        <div
          class="twelve wide column"
          style="cursor: pointer"
          [routerLink]="['detail', task.uid]">
          <span class="ui horizontal label"
                *ngIf="getCollection(task) as collection"
                [ngClass]="collection?.color">
            {{collection?.name}}
          </span>
          <b>{{task.title}}</b>
        </div>

        <div class="two wide column">
          <ng-container *ngIf="!disabled; else restoreTask">
            <div suiDropdown
                 autoClose="itemSelect"
                 class="ui left pointing dropdown"
                 title="Options">
              <i class="ellipsis horizontal icon"></i>

              <div suiDropdownMenu class="menu">
                <div suiDropdown class="item">
                  <i class="thermometer icon"></i>
                  Priority

                  <div suiDropdownMenu class="menu">
                    <a class="item"
                         *ngFor="let priority of priorities"
                         (click)="onUpdatePriority(task, priority.value)">
                      <i [ngClass]="getPriorityIcon(priority.value)"></i>
                      {{priority.label}}
                    </a>
                  </div>
                </div>

                <div suiDropdown class="item">
                  <i class="list icon"></i>
                  Move to...

                  <div suiDropdownMenu class="menu">
                    <a class="item"
                       *ngFor="let collectionId of objectKeys(taskCollections || {})"
                       (click)="onUpdateCollection(task, collectionId)">
                      <i class="arrow right icon" [ngClass]="taskCollections[collectionId].color"></i>
                      {{taskCollections[collectionId].name}}
                    </a>
                  </div>
                </div>

                <div class="item" (click)="onDeleteTask(task)">
                  <i class="trash icon"></i>
                  Delete
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #restoreTask>
            <div suiDropdown
                 autoClose="itemSelect"
                 class="ui left pointing dropdown"
                 title="Options">
              <i class="ellipsis horizontal icon"></i>

              <div suiDropdownMenu class="menu">
                <div class="item" (click)="onRestoreTask(task)">
                  <i class="undo icon"></i>
                  Restore
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
