<div class="ui stackable grid">
  <div class="three wide column">
    <app-side-menu [service]="taskCollectionListService"></app-side-menu>
  </div>

  <div class="thirteen wide column">
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
