<div class="ui fragment">
  <ng-container *ngIf="tasks && taskCollections; else loading">
    <app-task-group
      icon="calendar outline"
      header="Current"
      [tasks]="tasksOpen"
      [taskCollections]="_taskCollections"
      (priorityUpdated)="onUpdatePriority($event)"
      (collectionUpdated)="onUpdateCollection($event)"
      (closed)="onCloseTask($event)"
      (deleted)="onDeleteTask($event)">
    </app-task-group>

    <app-task-group
      icon="calendar check outline"
      header="Closed"
      [tasks]="tasksClosed"
      [taskCollections]="_taskCollections"
      (priorityUpdated)="onUpdatePriority($event)"
      (collectionUpdated)="onUpdateCollection($event)"
      (closed)="onCloseTask($event)"
      (deleted)="onDeleteTask($event)">
    </app-task-group>

    <app-task-group
      icon="calendar times outline"
      header="Excluded"
      [disabled]="true"
      [tasks]="tasksRemoved"
      [taskCollections]="_taskCollections"
      (restored)="onRestoreTask($event)">
    </app-task-group>
  </ng-container>

  <ng-template #loading>
    <sm-loader class="inverted" text="Loading..."></sm-loader>
  </ng-template>
</div>
