<form class="ui form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="field">
    <sm-input
      type="text"
      label="Name"
      [control]="form.controls.name">
    </sm-input>
  </div>

  <div class="field">
    <label>Select a color for this collection</label>
    <div>
      <div
        class="ui empty circular label"
        *ngFor="let color of collectionColors"
        [title]="color.label"
        [ngClass]="[color.value || 'black', isColorSelected(color.value)]"
        (click)="onSelectColor(color.value)">
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="ui button primary"
    [disabled]="!form.valid">
    Submit
  </button>
</form>
