<section class="ui form" [suiTransition]="transitionController">
  <ng-container *ngIf="task$ | async as task">
    <div class="ui grid">
      <div class="two wide column">
        <div class="ui checkbox">
          <input 
            type="checkbox"
            [checked]="task.closed"
            [disabled]="task.deleted"
            (change)="onCloseTask(task)">
          <label></label>
        </div>
      </div>

      <div class="ten wide column">
        <i class="disabled calendar icon"></i>
        {{(task.closed ? task.closedAt : task.dueAt) | date:'fullDate'}}
      </div>

      <div class="four wide column">
        <div class="float-right" title="{{task.priority}}">
          <i class="large" [ngClass]="getPriorityIcon(task.priority)"></i>
        </div>
      </div>
    </div>

    <div class="ui horizontal divider"></div>

    <form #taskDescriptionForm="ngForm">
      <h3>{{task.title}}</h3>

      <div class="field">
        <textarea 
          name="taskDescription"
          [ngModel]="task.description"
          (blur)="onSaveDescription(taskDescriptionForm)">
        </textarea>
      </div>
    </form>

    <div class="ui divider"></div>

    <app-task-comment [task]="task"></app-task-comment>

    <div class="ui fluid two item menu">
      <div class="item" (click)="createCommentModal.show()">
        <i class="comments outline icon"></i>
      </div>

      <a class="item" (click)="onDeleteTask()" *ngIf="!task.deleted">
        <i class="trash alternate outline red icon"></i>
      </a>

      <a class="item" (click)="onRestoreTask()" *ngIf="task.deleted">
        <i class="undo icon"></i>
      </a>
    </div>
    
    <sm-modal title="Create Comment" #createCommentModal>
        <modal-content>
          <app-task-comment-form
            [modalInstance]="createCommentModal"
            [service]="taskDetailService"
            [task]="task">
          </app-task-comment-form>
        </modal-content>
      </sm-modal>
  </ng-container>
</section>
