<div class="ui secondary vertical pointing menu full-width">
  <a sm-item icon="tasks" routerLink="/tasks/all" routerLinkActive="active">
    All Tasks
  </a>

  <a sm-item icon="calendar alternate" routerLink="/tasks/today" routerLinkActive="active">
    Today
  </a>

  <div class="ui divider"></div>

  <div class="item">
    <div class="header">Collections</div>
  </div>

  <ng-container *ngIf="taskCollections$ | async as taskCollections; else loading">
    <a
      class="item"
      *ngFor="let collectionUid of objectKeys(taskCollections)"
      [routerLink]="['collections', collectionUid]"
      [routerLinkActive]="'active'">
      {{taskCollections[collectionUid].name}}
      <i class="list icon" [ngClass]="taskCollections[collectionUid].color"></i>
    </a>
  </ng-container>

  <ng-template #loading>
    <div class="item">
      <div class="ui active centered inline loader"></div>
    </div>
  </ng-template>

  <sm-item
    icon="plus"
    style="cursor: pointer"
    (click)="createCollectionModal.show()">
    Add collection
  </sm-item>

  <div class="ui divider"></div>

  <a sm-item icon="check circle outline" routerLink="/tasks/closed" routerLinkActive="active">
    Closed
  </a>

  <a sm-item icon="trash" routerLink="/tasks/trash" routerLinkActive="active">
    Trash
  </a>

  <a sm-item icon="sign out" class="red" (click)="onLogout()">
    Logout
  </a>
</div>

<sm-modal title="Create Task Collection" #createCollectionModal>
  <modal-content>
    <app-task-collection-form [service]="service" [modalInstance]="createCollectionModal"></app-task-collection-form>
  </modal-content>
</sm-modal>
