<sm-loader [complete]="!nowLoading" text="Loading..."></sm-loader>

<div class="ui container">
  <div class="vertically-centered-box">
    <div class="ui one column centered grid">
      <div class="column">
        <h3 class="ui top attached header">Register</h3>

        <div class="ui attached segment">
          <div
            class="ui error message"
            *ngIf="form.errors?.passwordConfirmation && isPasswordConfirmationUpdated(form.controls.passwordConfirmation)">
            <i class="close icon"></i>

            <div class="header">
              There were some errors with your registration
            </div>

            <p>Password confirmation does not match!</p>
          </div>

          <form class="ui form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
              <sm-input label="E-mail" [control]="form.controls.email"></sm-input>
            </div>

            <div class="field">
              <sm-input
                type="password"
                label="Password"
                [control]="form.controls.password">
              </sm-input>
            </div>

            <div class="field">
              <sm-input
                type="password"
                label="Password Confirmation"
                [control]="form.controls.passwordConfirmation">
              </sm-input>
            </div>

            <button
              type="submit"
              class="ui button primary"
              [disabled]="!form.valid">
              Register
            </button>

            <a class="login-link" (click)="onNavigateToLogin()">
              Login into your account
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
